In [1]:
import pandas as pd
import sqlite3

In [3]:
conn = sqlite3.connect('Umar_data.db')
cur = conn.cursor()

In [29]:
sql ='''SELECT id, symbol, `datetime`, open, high, low, close, volume, vwap, num_trades, atr, adtv,
 ema10, sma50, sma100, sma200, uptrend, downtrend, candle, daily_gain,
(SELECT AVG(daily_gain)
FROM (SELECT daily_gain
FROM "alpaca_daily"
ORDER BY daily_gain
LIMIT 2
OFFSET (SELECT (COUNT(*) - 1) / 2
FROM "alpaca_daily"))) as daily_median_gain,
(daily_gain - (SELECT AVG(daily_gain)
FROM (SELECT daily_gain
FROM "alpaca_daily"
ORDER BY daily_gain
LIMIT 2
OFFSET (SELECT (COUNT(*) - 1) / 2
FROM "alpaca_daily")))) as daily_excess_gain FROM "alpaca_daily";'''
cur.execute(sql)

In [30]:
result = cur.fetchall()
data = pd.DataFrame(result)
data

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,None,A,2022-10-28,136.38,139.1218,135.0200,138.77,895878,137.681678,17225,...,133.54,130.04,127.18,128.96,1,0,green,2.39,0.49,1.90
1,None,AA,2022-10-28,40.78,40.7850,38.4600,39.49,6545505,39.334409,59883,...,40.26,43.44,45.88,59.11,1,0,red,-1.29,0.49,-1.78
2,None,AAC,2022-10-28,9.97,9.9800,9.9700,9.98,40616,9.970259,504,...,9.96,9.93,9.89,9.84,1,0,green,0.01,0.49,-0.48
3,None,AADI,2022-10-28,12.72,13.0550,12.6200,12.95,186552,12.931915,2746,...,12.84,13.09,13.15,15.14,0,1,green,0.23,0.49,-0.26
4,None,AAL,2022-10-28,14.00,14.1000,13.7850,14.00,26336478,13.964866,79321,...,13.77,13.34,13.73,15.46,1,0,green,0.00,0.49,-0.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2882,None,ZUO,2022-10-28,7.53,7.7400,7.4250,7.72,920475,7.637457,7603,...,7.32,7.66,8.44,11.02,1,0,green,0.19,0.49,-0.30
2883,None,ZVIA,2022-10-28,4.54,4.8200,4.4800,4.68,84232,4.672721,1234,...,4.45,4.48,3.90,4.56,1,0,green,0.14,0.49,-0.35
2884,None,ZWS,2022-10-28,22.33,23.1800,22.3300,22.91,2349607,22.785429,23171,...,23.67,26.08,27.51,29.85,0,1,green,0.58,0.49,0.09
2885,None,ZYME,2022-10-28,6.27,6.7300,5.9900,6.65,1738431,6.516098,8556,...,6.09,5.85,6.00,6.56,1,0,green,0.38,0.49,-0.11
2886,None,ZYXI,2022-10-28,9.73,10.9000,9.6119,10.52,695288,10.424489,8822,...,9.32,9.13,8.67,7.73,1,0,green,0.79,0.49,0.30

In [31]:
data.to_excel('Umar.xlsx')

In [41]:
data.rename(columns ={19:'daily_gain'})
data

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,None,A,2022-10-28,136.38,139.1218,135.0200,138.77,895878,137.681678,17225,...,133.54,130.04,127.18,128.96,1,0,green,2.39,0.49,1.90
1,None,AA,2022-10-28,40.78,40.7850,38.4600,39.49,6545505,39.334409,59883,...,40.26,43.44,45.88,59.11,1,0,red,-1.29,0.49,-1.78
2,None,AAC,2022-10-28,9.97,9.9800,9.9700,9.98,40616,9.970259,504,...,9.96,9.93,9.89,9.84,1,0,green,0.01,0.49,-0.48
3,None,AADI,2022-10-28,12.72,13.0550,12.6200,12.95,186552,12.931915,2746,...,12.84,13.09,13.15,15.14,0,1,green,0.23,0.49,-0.26
4,None,AAL,2022-10-28,14.00,14.1000,13.7850,14.00,26336478,13.964866,79321,...,13.77,13.34,13.73,15.46,1,0,green,0.00,0.49,-0.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2882,None,ZUO,2022-10-28,7.53,7.7400,7.4250,7.72,920475,7.637457,7603,...,7.32,7.66,8.44,11.02,1,0,green,0.19,0.49,-0.30
2883,None,ZVIA,2022-10-28,4.54,4.8200,4.4800,4.68,84232,4.672721,1234,...,4.45,4.48,3.90,4.56,1,0,green,0.14,0.49,-0.35
2884,None,ZWS,2022-10-28,22.33,23.1800,22.3300,22.91,2349607,22.785429,23171,...,23.67,26.08,27.51,29.85,0,1,green,0.58,0.49,0.09
2885,None,ZYME,2022-10-28,6.27,6.7300,5.9900,6.65,1738431,6.516098,8556,...,6.09,5.85,6.00,6.56,1,0,green,0.38,0.49,-0.11
2886,None,ZYXI,2022-10-28,9.73,10.9000,9.6119,10.52,695288,10.424489,8822,...,9.32,9.13,8.67,7.73,1,0,green,0.79,0.49,0.30