In [1]:
import pandas as pd
import numpy as np

In [20]:
df = pd.DataFrame(pd.read_csv('Allocation_Replacement.csv'))
df1 = df['New Allocation']
#df1
#df1.to_csv('df1.csv')
df2 = pd.DataFrame(pd.read_csv('df1.csv'))

In [49]:
df2

,Unnamed: 0,New Allocation,Qrcode
0,0,SG-F0101-11,"QRCode(content=b'SG-M3010-11', error='H', vers..."
1,1,SG-F0101-12,"QRCode(content=b'SG-M3010-11', error='H', vers..."
2,2,SG-F0101-13,"QRCode(content=b'SG-M3010-11', error='H', vers..."
3,3,SG-F0101-14,"QRCode(content=b'SG-M3010-11', error='H', vers..."
4,4,SG-F0101-21,"QRCode(content=b'SG-M3010-11', error='H', vers..."
...,...,...,...
1200,1200,SG-M3007-11,"QRCode(content=b'SG-M3010-11', error='H', vers..."
1201,1201,SG-M3008-11,"QRCode(content=b'SG-M3010-11', error='H', vers..."
1202,1202,SG-M3009-11,"QRCode(content=b'SG-M3010-11', error='H', vers..."
1203,1203,SG-M3010-11,"QRCode(content=b'SG-M3010-11', error='H', vers..."
1204,1204,NaN,"QRCode(content=b'SG-M3010-11', error='H', vers..."

In [101]:
import qrcode
from PIL import Image
from PIL import ImageDraw
from PIL import ImageFont
from qrcode.main import QRCode
test = 'SG-F1010-11'
qr = qrcode.QRCode(
                   version=2,
                   error_correction=qrcode.constants.ERROR_CORRECT_L,
                   box_size=10,
                   border=4,)
qr.add_data(test)
img = qr.make_image()
draw = ImageDraw.Draw(img)
font = ImageFont.truetype("arialbd.ttf",40)

draw.text((45,290),test,font=font)

imagepath = os.path.join('img', text+".png")
img.save(imagepath) # Save image.

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [4]:
import pandas as pd
import os
import qrcode
from PIL import Image
from PIL import ImageDraw
from PIL import ImageFont
from qrcode.main import QRCode
df2 = pd.DataFrame(pd.read_csv('df1.csv'))
for line in df2['New Allocation']:
    qr = qrcode.QRCode(
           version=2,
           error_correction=qrcode.constants.ERROR_CORRECT_L,
           box_size=10,
           border=4,)
    qr.add_data(line)
    img = qr.make_image()
    draw = ImageDraw.Draw(img)
    font = ImageFont.truetype("arialbd.ttf",40)

    draw.text((45,290),line,font=font)

    imagepath = os.path.join('img', line+".png")
    img.save(imagepath) # Save image.

TypeError: argument of type 'float' is not iterable

In [29]:
df2

      Unnamed: 0 New Allocation
0              0    SG-F0101-11
1              1    SG-F0101-12
2              2    SG-F0101-13
3              3    SG-F0101-14
4              4    SG-F0101-21
...          ...            ...
1199        1199    SG-M3006-11
1200        1200    SG-M3007-11
1201        1201    SG-M3008-11
1202        1202    SG-M3009-11
1203        1203    SG-M3010-11

[1204 rows x 2 columns]

In [72]:
# from PIL import Image
#df2 = df2.drop([1204,], inplace=True)
# for line in df2['New Allocation']:
#     images = [Image.open(os.path.join("img/" + f)) for f in [str(line)+".png"]]
# from fpdf import FPDF
# pdf = FPDF()
# # imagelist is the list with all image filenames
# for line in df2['New Allocation']:
#     images = [Image.open(os.path.join("img/" + f)) for f in [str(line)+".png"]]
#     for image in images:
#         pdf.add_page()
#         pdf.image(image)
#     pdf.output("yourfile.pdf", "F")

In [1]:
import pandas as pd
import numpy as np

In [68]:
df = pd.read_excel(open('2M.xlsx', 'rb'),sheet_name='2M')
df2= df.iloc[:,0:6]
df2['2 Num']=df2['Num'].astype(str).str[-2:]
df2['3 Num']=df2['Num'].astype(str).str[-3:]
df2['Rate 2 num'] = df2['2 Num'].value_counts().div(len(df2))
df2['Rate 3 num'] = df2['3 Num'].value_counts().div(len(df2))
df2

            Date     Num 2 Num 3 Num  Rate 2 num  Rate 3 num
0     2022-10-08     638    38   638         NaN         NaN
1     2022-10-08    6235    35   235         NaN         NaN
2     2022-10-08    9338    38   338         NaN         NaN
3     2022-10-08   50435    35   435         NaN         NaN
4     2022-10-08   40820    20   820         NaN         NaN
...          ...     ...   ...   ...         ...         ...
26293 2022-10-11   58049    49   049         NaN         NaN
26294 2022-10-11    2058    58   058         NaN         NaN
26295 2022-10-11   98890    90   890         NaN         NaN
26296 2022-10-11   63843    43   843         NaN         NaN
26297 2022-10-11  682520    20   520         NaN         NaN

[26298 rows x 6 columns]

In [71]:
df2['2 Num'].value_counts(ascending=True)

7      12
2      13
0      14
4      15
1      16
     ...
37    295
38    296
58    300
67    303
14    308
Name: 2 Num, Length: 110, dtype: int64