In [2]:
import pandas as pd

In [8]:
df1 = pd.DataFrame({'Column1': [13,38,58,67,14,93,37,18,57,55,95,77],
                    'Column2': [13,38,58,67,14,93,37,18,57,55,95,77],
                    'Column3': [13,38,58,67,14,93,37,18,57,55,95,77],
                    'Column4': [13,38,58,67,14,93,37,18,57,55,95,77]})
df1['Column1'] = df1['Column1'].astype('str').str.zfill(2)
df1['Column2'] = df1['Column2'].astype('str').str.zfill(2)
df1['Column3'] = df1['Column3'].astype('str').str.zfill(2)
df1['Column4'] = df1['Column4'].astype('str').str.zfill(2)
combine = []
for x in df1['Column1']:
    for y in df1['Column2']:
        for z in df1['Column3']:
            for t in df1['Column4']:
                v = [x,y,z,t]
                v = list(dict.fromkeys(v))
                v.sort()
                if len(v) == 4 and v not in combine:
                    combine.append(v)
data = pd.DataFrame(combine)
data

      0   1   2   3
0    13  38  58  67
1    13  14  38  58
2    13  38  58  93
3    13  37  38  58
4    13  18  38  58
..   ..  ..  ..  ..
490  18  55  57  95
491  18  55  57  77
492  18  57  77  95
493  18  55  77  95
494  55  57  77  95

[495 rows x 4 columns]

In [26]:
data.to_excel('combine_5.xlsx')

In [4]:
import pandas as pd
df1 = pd.DataFrame({'Column1': range(100),
                    'Column2': range(100)})
df1['Column1'] = df1['Column1'].astype('str').str.zfill(2)
df1['Column2'] = df1['Column2'].astype('str').str.zfill(2)
combine = []
for x in df1['Column1']:
    for y in df1['Column2']:
        v = [x,y]
        v = list(dict.fromkeys(v))
        v.sort()
        if len(v) == 2 and v not in combine:
            combine.append(v)
data = pd.DataFrame(combine)
data.to_excel('combine_2.xlsx', sheet_name='combine_2')

In [33]:
import pandas as pd

In [128]:
df=pd.read_excel('Transaction.xlsx')
df

,Date,Origin,Amount,Account Number,Transaction Type,Transaction Details,Balance,Transaction Details.1,Category,Merchant Name
0,2022-07-21,75.71,-46.15,Card ending 3146,CREDIT CARD PURCHASE,OFFICEWORKS 0345 CARNEGIE,29.56,OFFICEWORKS 0345 CARNEGIE,Home,Officeworks (Carnegie)
1,2022-07-21,29.56,-1485.00,Card ending 3146,CREDIT CARD PURCHASE,EXPRESS ONSITE AUTO CLAYTON SOUTH,-1455.44,EXPRESS ONSITE AUTO CLAYTON SOUTH,Transport,Express Onsite Auto Electrics
2,2022-07-21,-1455.44,-1676.34,Card ending 3146,CREDIT CARD PURCHASE,COSTCO WHOLESALE AUS DOCKLANDS,-3131.78,COSTCO WHOLESALE AUS DOCKLANDS,Shopping,Costco (The District Docklands)
3,2022-07-22,-3131.78,-3.96,Card ending 0451,FEES,NAB INTNL TRAN FEE - (MC),-3135.74,NAB INTNL TRAN FEE - (MC),Fees,NaN
4,2022-07-22,-3135.74,-64.92,Card ending 3146,CREDIT CARD PURCHASE,CHEFS HAT STH MELB SOUTH MELBOUR,-3200.66,CHEFS HAT STH MELB SOUTH MELBOUR,Home,Chef's Hat
...,...,...,...,...,...,...,...,...,...,...
795,2022-11-04,8808.58,160.00,Card ending 0451,CREDIT CARD PAYMENT,INTERNET PAYMENT Fuel Generator,8968.58,INTERNET PAYMENT Fuel Generator,Internal transfers,NaN
796,2022-11-04,8153.09,-15.00,Card ending 0451,CREDIT CARD PURCHASE,WOOLWORTHS/BOURKE RD & VICLARINDA,8138.09,WOOLWORTHS/BOURKE RD & VICLARINDA,Groceries,Woolworths (Clarinda)
797,2022-11-04,8138.09,-19.80,Card ending 0451,CREDIT CARD PURCHASE,FH LIFT PTY LTD CLAYTON,8118.29,FH LIFT PTY LTD CLAYTON,Food & drink,FH Lift Pty Ltd
798,2022-11-04,8968.58,-236.20,Card ending 0451,CREDIT CARD PURCHASE,Woolworths Online BELLA VISTA,8732.38,Woolworths Online BELLA VISTA,Groceries,Woolworths Online
799,2022-11-04,8732.38,-579.29,Card ending 0451,CREDIT CARD PURCHASE,WWW.REALICT.COM.AU MT WAVERLEY,8153.09,WWW.REALICT.COM.AU MT WAVERLEY,Uncategorised,NaN

In [129]:
df['Balance']

0        29.56
1     -1455.44
2     -3131.78
3     -3135.74
4     -3200.66
        ...
795    8968.58
796    8138.09
797    8118.29
798    8732.38
799    8153.09
Name: Balance, Length: 800, dtype: float64

In [117]:
# pd.set_option('display.max_rows', 20)
# pd.set_option('display.max_columns', 20)

In [130]:
import math
df['Amount'] = (df['Amount']*100).astype('int')
df['Balance'] = (df['Balance']*100).astype('int')
df['Origin'] = (df['Origin']*100).astype('int')
list = []
for x in df['Origin']:
    for y in df['Balance']:
        if math.isclose(x,y):
            list.append(x)
list

[-145544,
 -313178,
 -313574,
 -320066,
 -333250,
 -380655,
 -433408,
 -614508,
 -615909,
 -639724,
 -643919,
 -652219,
 -667857,
 -1424836,
 -1428788,
 -1432326,
 -1481543,
 -1547443,
 -1548043,
 -1551543,
 -1572113,
 -1582911,
 -1613548,
 -1614393,
 -1615293,
 -1616337,
 -1618037,
 -1620183,
 -1623083,
 -1626013,
 -1631013,
 -1637331,
 -1645331,
 -1655582,
 -1683702,
 -1933702,
 -1950002,
 -1974430,
 -1999878,
 -1960589,
 -1961275,
 -1984145,
 -1227166,
 -1046066,
 -878432,
 -729932,
 -664032,
 -611279,
 -562062,
 -514657,
 -490842,
 -470842,
 -455204,
 -442020,
 -435528,
 -430913,
 -426718,
 -423180,
 -420751,
 -421241,
 -422041,
 -424910,
 -431410,
 -436409,
 -447109,
 -477072,
 -477892,
 -539392,
 -655180,
 -656650,
 -658695,
 -661421,
 -665501,
 -672016,
 -678876,
 -721328,
 -919556,
 -669556,
 -471328,
 -355540,
 -294040,
 -251588,
 -221625,
 -193505,
 -168057,
 -143629,
 -120758,
 -103380,
 -87080,
 -73822,
 -63024,
 -52324,
 -42073,
 -33773,
 -25773,
 -18913,
 -6080,
 -1080,
 3919,
 7998,
 14897,
 17998,
 21098,
 29654,
 31800,
 33845,
 35545,
 37125,
 38648,
 40118,
 41408,
 42452,
 43272,
 44072,
 44562,
 43841,
 43029,
 41459,
 37765,
 35765,
 27560,
 22180,
 12811,
 2246,
 -15019,
 -58825,
 -112925,
 -211825,
 -327954,
 -328334,
 -329654,
 -335174,
 -340398,
 -349844,
 -611257,
 -1923257,
 -1679540,
 -1563411,
 -1464511,
 -1366605,
 -1348909,
 -1331644,
 -1321079,
 -1311633,
 -1302264,
 -1297040,
 -1292335,
 -1288295,
 -1284795,
 -1282795,
 -1280930,
 -1279101,
 -1277531,
 -1276051,
 -1274731,
 -1273539,
 -1274260,
 -1278385,
 466191,
 666191,
 665359,
 664459,
 663147,
 661675,
 652875,
 636375,
 610679,
 550094,
 473934,
 379904,
 379464,
 378049,
 375887,
 366441,
 321411,
 -1423165,
 -110905,
 -111505,
 -113534,
 -115709,
 -125441,
 -134426,
 -146705,
 -160555,
 -174535,
 -199613,
 -239513,
 -292511,
 -572811,
 1296017,
 1309362,
 1607710,
 1606423,
 1295205,
 1311732,
 1308167,
 1352595,
 1318522,
 1303217,
 1330215,
 1346215,
 1604893,
 1517876,
 1194940,
 1186150,
 1209230,
 1293605,
 1213696,
 1193950,
 1206156,
 1289805,
 815490,
 1184170,
 897439,
 1168084,
 878381,
 1310981,
 811860,
 1540159,
 879985,
 814125,
 882840,
 893809,
 1556245,
 1581626,
 1487498,
 2003282,
 1488578,
 1489751,
 1522648,
 1514301,
 1511331,
 1509831,
 1513031,
 1516564,
 1518964,
 1521448,
 2020006,
 2017206,
 2023355,
 1901416,
 1884823,
 1857823,
 2014282,
 1874143,
 1897916,
 1508331,
 2002532,
 1848946,
 849392,
 1080021,
 1844146,
 1478313,
 1852123,
 1848746,
 1085705,
 1842471,
 1197705,
 933470,
 904470,
 1168705,
 1475973,
 948740,
 1113114,
 1078401,
 1183514,
 977918,
 975503,
 1153014,
 1182864,
 1169929,
 971685,
 1148991,
 1112242,
 1049278,
 794312,
 800360,
 797812,
 805377,
 1052015,
 1034765,
 1013765,
 979052,
 908652,
 843460,
 793591,
 768462,
 903324,
 879724,
 849474,
 818331,
 763719,
 749007,
 747637,
 745546,
 788854,
 770597,
 742476,
 629632,
 644872,
 642902,
 640552,
 637732,
 634232,
 718602,
 699652,
 621426,
 628901,
 675071,
 620291,
 717583,
 716933,
 723804,
 720768,
 730071,
 716033,
 942923,
 942923,
 910023,
 906323,
 873423,
 647758,
 655118,
 653818,
 650818,
 662234,
 942923,
 942923,
 929017,
 914224,
 889124,
 2005674,
 1635276,
 1386503,
 1164593,
 848773,
 776424,
 705589,
 670608,
 646858,
 3949044,
 3947444,
 3943394,
 2185176,
 2197366,
 2193866,
 2190099,
 4175717,
 754131,
 2147956,
 757936,
 756331,
 790355,
 777207,
 767666,
 2184896,
 2146778,
 2107508,
 1499716,
 753340,
 752596,
 753191,
 726178,
 729748,
 739278,
 737250,
 743279,
 733750,
 747427,
 752377,
 640056,
 724723,
 707723,
 617625,
 617605,
 601601,
 599601,
 607451,
 616941,
 633124,
 595338,
 755980,
 596691,
 898723,
 872195,
 579470,
 740379,
 859710,
 850010,
 734748,
 749825,
 868695,
 753950,
 577998,
 672851,
 858810,
 897891,
 595970,
 740979,
 924591,
 928990,
 885876,
 921460,
 919261,
 890123,
 1904757,
 1791754,
 1690639,
 1603622,
 1527513,
 1453298,
 1390334,
 1336334,
 1291304,
 1249837,
 1209970,
 1173221,
 1139624,
 1109207,
 1080812,
 1057866,
 1036866,
 1018286,
 1001036,
 952035,
 937545,
 923565,
 909715,
 896779,
 874304,
 863335,
 856135,
 851185,
 847162,
 843362,
 836939,
 834015,
 831467,
 828983,
 826568,
 824198,
 822498,
 821748,
 1753907,
 1758465,
 1757407,
 1764880,
 2046025,
 1993995,
 1919780,
 1716178,
 1722018,
 1720798,
 1753095,
 1738264,
 1444468,
 1455068,
 1452018,
 1448518,
 1465502,
 1460376,
 1715648,
 1669736,
 1596652,
 1402350,
 1400770,
 1443508,
 1396920,
 2955535,
 2954135,
 2952390,
 2948310,
 3051725,
 3027725,
 2577866,
 2585175,
 2577316,
 2576141,
 2550149,
 2589075,
 2565391,
 2561491,
 2556043,
 2584466,
 2574491,
 2943715,
 2932165,
 2914612,
 2896097,
 2856197,
 2815759,
 2773735,
 2722675,
 2541849,
 2548418,
 2546799,
 2544399,
 859784,
 885121,
 900364,
 877221,
 2541049,
 694082,
 753491,
 867575,
 703689,
 889714,
 751491,
 858085,
 692648,
 1123271,
 1009073,
 1120091,
 2437230,
 2430086,
 2200403,
 2202852,
 2423466,
 2202098,
 2432634,
 2426416,
 2429429,
 2436954,
 2236991,
 2199653,
 2226991,
 2354866,
 2422466,
 2325466,
 2179486,
 1621062,
 2174245,
 2121365,
 2185847,
 2187247,
 2185986,
 2184497,
 2120417,
 2108417,
 2173460,
 2089687,
 1483595,
 1474480,
 1473135,
 1483039,
 1621295,
 1470642,
 1284553,
 1161563,
 1129796,
 1159288,
 1154796,
 1284425,
 1257231,
 839632,
 840032,
 839559,
 829136,
 837131,
 1125535,
 1035032,
 734186,
 735840,
 737740,
 740528,
 743727,
 746970,
 751800,
 725729,
 732623,
 826136,
 813137,
 796779,
 639885,
 779069,
 720630,
 619085,
 1568447,
 2923080,
 1167477,
 927335,
 1031929,
 1496004,
 855145,
 1427629,
 1298627,
 1366294,
 1840864,
 1116417,
 1892959,
 1940761,
 1986673,
 2069855,
 2110293,
 2150193,
 2189463,
 2220606,
 2250856,
 2280256,
 2307525,
 2334719,
 2359819,
 2384819,
 2408831,
 2432705,
 2456305,
 2478444,
 2499094,
 2518044,
 2536774,
 2555289,
 2573546,
 2591256,
 2608809,
 2625809,
 2642549,
 2658795,
 2674395,
 2689188,
 2702855,
 2715750,
 2727300,
 2737950,
 2748031,
 2758031,
 2767761,
 2777368,
 2786858,
 2793974,
 2800906,
 2807506,
 2814006,
 2820421,
 2826688,
 2832582,
 2838432,
 2843382,
 2847781,
 2851929,
 2856009,
 2860059,
 2864061,
 2868062,
 2871912,
 2882662,
 2879162,
 2875662,
 2886162,
 2889347,
 2892397,
 2895433,
 2898446,
 2901266,
 2903814,
 2906324,
 2908674,
 2910949,
 2915148,
 2913148,
 2917148,
 2918888,
 2919836,
 2920736,
 2921490,
 2922154,
 2922804,
 1574079,
 1842521,
 1433894,
 1841434,
 1842372,
 1576749,
 1430394,
 1433394,
 1120404,
 1573959,
 3055385,
 3056680,
 3054281,
 866040,
 927042,
 1034712,
 1154696,
 1438766,
 1821850,
 1966266,
 1299941,
 1678771,
 2446530,
 3032690,
 841492,
 865629,
 788586,
 844029,
 865029,
 786697,
 839086,
 1115746,
 620935,
 730071,
 552183,
 550762,
 549002,
 694771,
 1120325,
 1122723,
 732722,
 736697,
 547208,
 634541,
 663141,
 692731,
 729044,
 620527,
 1141346,
 1133728,
 1141245,
 1137873,
 1165746,
 1132954,
 1132838,
 1136820,
 1136499,
 1125786,
 1136486,
 1111886,
 742548,
 747678,
 989954,
 1224655,
 740858,
 880858,
 815309,
 813809,
 896858]